body{
    margin: 0;
    padding: 0;
    background:linear-gradient(180deg, #F78643 50%, #FAB084);
    background-size: cover; 
    min-height: 100vh;
}

.logo{
    width: 50%; 
    display: flex; 
    min-height: 0vh; 
    margin: 100 80 100 auto; 
}

.logo img {
    display: block;
    width: 100%; 
    height: auto;
    filter: drop-shadow(0px 10px 10px rgb(0 0 0 / 0.4)); 
}
// this is for my main logo 

.sideheader img { 
    width: 40%;
    position: absolute; 
    top: 0; 
    z-index: -1; 
}

.section { 
    font-family:'Courier New', Courier, monospace;
}

// @media (max-width: 500px){
//     .logo {
//         margin-top: 500px;
//     }
//     *{background-color: red;
//     }
// }
// I tried to add a media query to move the logo down but it didn't work so i'm commenting it out to remember it for later 

