body{
    margin: 0;
    padding: 0;
    background:linear-gradient(180deg, #F78643 50%, #FAB084);
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover; 
    height: 100%;
}

.logo{
    width: 50%; 
    min-height: 0vh; 
}

.logo img {
    display: relative;
    position: relative; 
    width: 100%; 
    height: 130px;
    left: -50px;
    filter: drop-shadow(0px 10px 10px rgb(0 0 0 / 0.4)); 
}
// this is for my main logo 

.sideheader img { 
    width: 500px;
}

section { 
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: white; 
    font-size: 2vw; 
    width: 100%; 
    min-height: 0vh; 
}

.heading-container {
    display: flex; 
    margin: 0px; 
    flex-wrap: wrap; 
    align-items: center; 
    row-gap: 50%; 
    column-gap: 10%;
}

.create-taste  { 
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: white; 
    background-color: #3866AF ;
    cursor: pointer; 
    padding: 20px 25px; 
    border: none; 
    border-radius: 15px; 
    top: -120px; 
    left: 800px; 
}

.create-taste:hover { 
    color: #80FF86; 
}

.my-taste { 
    position: relative; 
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: white;   
    background:linear-gradient(180deg, #1A1A1A 50%, #4D4D4D);
    cursor: pointer; 
    padding: 15px 60px; 
    border: none;
    border-radius: 40px;
    top: -10px; 
    left: 515px; 
}

.my-taste:hover { 
    color: gray; 
}

 @media (max-width: 767px){
   .sideheader img {
    width: 270px;
}

.logo img{ 
    position: relative; 
    top: 30px;
    left: 40px;
    width: 300px;
    height: 100%;
}
    .create-taste { 
        top: 50px; 
        left: 50px; 
    }
    .my-taste { 
        top: 80px; 
        left: 75px; 
    }
 }